# Local Settings
.vscode

# Caches
*_cache
_*cache__

# Experimental outputs
test.json
test.log

# Any log files
*.log

#Ipython notebooks
.ipyng_checkpoints
*.ipynb

# Minio Buckets
data/buckets

# Local DVC config
.dvc

# Media Graphs
data/ot_graphs
data/overviews

# Notes
note.md

# Local Bash convenience files
ecr_login.sh

# Local Infrastructure for terraform
infrastructure/*